<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bookings_Functional">
  <test name="Test">
    <classes>
      <class name="Bookings.BookHolidayPackage"/>
      <methods>
      <exclude name="BookHolidayPackage_return"></exclude>
      </methods>
      </class>
      <class name="Bookings.BookFlight"/>
      <methods>
      <include name="BookFlight_OneWay*"></include>
      </methods>
      <class name="Bookings.BookHotel"/>
      <methods>
      <include name="BookHotel_DestinationCity"></include>
      </methods>
      </class>
      <class name="Bookings.FlightStatus"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Bookings_Functional -->
